body{
    margin: 0;
    padding: 0;
    
}
.line {
    visibility: hidden;
    width: 2px;
    height: 4000px;
    position: absolute;
    left: 400px;
    top: 0px;
    background-color: #777;
  }
  
  .thk{
    font-size: clamp(2rem, 12vw, 12rem) !important;
  }
 .hw{
    font-size: clamp(1rem, 10vw, 4rem) !important;
 }
 .no-scroll{
    overflow: hidden !important;
 }